.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_input {
  display: flex;
  justify-content: space-between;
}

.login_btn {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}